[2020-10-22 18:58] kanwalnainsingh opened #1 "Road Map for Inception."

[2020-10-22 18:59] kanwalnainsingh opened #2 "Design User Journeys"

[2020-10-22 18:59] kanwalnainsingh opened #3 "Finalise MVP(Minimum Viable Product)"

[2020-10-23 18:26] #3 closed

[2020-10-23 18:27] kanwalnainsingh commented on #3
Organisation Features:

Organisation can setup sites or buildings with details of desk capacity with available and reserved desk.
Modify or delete existing setup.
Employee Features:

Employee can choose date and reserve desk prior coming to office.
Modify existing reservations.
Capability to check previous reservations.
Cancellation of existing reservations.
Booking confirmation alert.
Generic Req

[2020-10-26 18:42] kanwalnainsingh commented on #2
Added initial product draft.

[2020-10-26 18:42] #2 closed

[2020-10-26 18:48] kanwalnainsingh commented on #1
Road map added for November and December here. https://github.com/kanwalnainsingh/OpenDesk/tree/main/docs/planning

[2020-10-26 18:48] #1 closed

[2020-10-27 13:13] kanwalnainsingh opened #12 "OrganisationService miicroservice structure."
## What need to be done?
Create a microservice project named organisation-service using Spring Boot 2.3.4 and OpenJDK 15.

### Endpoints:
/organisation API that will perform respective CRUD operation. Use appropriate below conventions.

HTTP Verb | CRUD | Entire Collection (e.g. /organisations) | Specific Item (e.g. /organisations/{id})
-- | -- | -- | --
POST | Create | 201 (Created), 'Location' h

[2020-10-27 13:59] kanwalnainsingh opened #13 "Evaluate Open Source to database to save data in each microservice."
Use a nosql database that can work with spring boot easy to maintain. Make a hello service to save request to db.

[2020-10-27 14:04] kanwalnainsingh opened #14 "Project Structure front end using ReactJS or ReactNative"
Project structure with React JS, this should include package manager using npm and test case framework like Jest.
Add appropriate structure for CSS as well.
This should include code package structure.
Refer below link for inspiration https://www.simform.com/react-architecture-best-practices/?fbclid=IwAR3p77RG6h7kUHqcuTwnR8QUDp0fSdvKKLAeXjb-s9SCcyT_jcudLfv8dhA

[2020-10-27 14:06] kanwalnainsingh opened #15 "Front end architecture diagram and library finalisation."
**What we need?**

- Project Structure diagram.
- Separation of concern for for various code layer is crucial to maintain project in future.
- Don’t overthink the application structure and avoid using too many nested files and folders
- Divide logical components like, datastore, react components, events and dom.
- Each component should be testable.
- Structure to include where test case will be ad

[2020-10-27 14:07] kanwalnainsingh opened #16 "End to end architecture plan for AWS."
This should include high level architect and deployment strategy on AWS. Key features to include.
- Cloudfront for CDN
- Cognito for authentication.
- S3 for hosting static content.
- ECS for image repository
- EKS for container orchestration.

[2020-10-27 14:10] kanwalnainsingh opened #17 "CI/CD Pipeline Setup for Backservice architecture."
CI/CD Pipeline should included below steps.
- Download fresh dependencies each time build execute.
- Unit test case execution.

[2020-10-27 14:11] kanwalnainsingh opened #18 "CI/CD Pipeline for front end."

[2020-10-27 15:39] kanwalnainsingh opened #20 "code of conduct setup for open desk."

[2020-10-27 15:40] kanwalnainsingh commented on #20
Code of conduct added.

[2020-10-27 15:41] #20 closed

[2020-10-27 15:41] kanwalnainsingh commented on #20
Added

[2020-10-27 15:43] SaswataRakshit commented on #15
https://github.com/SaswataRakshit/OpenDesk/tree/Initial_Planning/docs/planning

Added flow diagram for Organization service.

[2020-10-27 16:38] kanwalnainsingh commented on #15
Thanks a lot @SaswataRakshit  for you contribution, welcome to the team. Really liked your thought process.
In order to raise a pull request for your change, please refer https://jarv.is/notes/how-to-pull-request-fork-github/  I will be happy to share review comments on your pull request to keep the issue clean for others to view.

[2020-10-28 03:43] zeus0123 commented on #14
Can we use redux saga for state management and styled components for css

[2020-10-28 04:45] kanwalnainsingh commented on #14
Sure, feel free to use.

[2020-10-28 14:11] kanwalnainsingh opened #21 "Code guidelines"
Add relevant documentation for coding standard to be followed in the project.

[2020-10-28 18:05] kanwalnainsingh opened #22 "Web UI Layout"
- Design the layout for the UI/UX for organisation screen.
- Layout should include a header
- Refer Wireframe under in planning docs read me.MD

[2020-10-30 14:42] SaswataRakshit commented on #15
As per latest disscussion, I structured the code.
https://github.com/SaswataRakshit/OpenDesk/tree/Initial_Planning/docs/planning

[2020-10-31 06:59] kanwalnainsingh commented on #15
Looks good @SaswataRakshit  please raise a pull request refer  https://opensource.com/article/19/7/create-pull-request-github and let me know if you face any issue.

[2020-11-01 07:52] kanwalnainsingh commented on #17
Initial setup done to run UNIT test cases  and fresh dependency download.

[2020-11-01 07:52] #17 closed

[2020-11-01 07:54] kanwalnainsingh opened #28 "Containerised Microservices using Docker"
- [x] Build project using Docker.
- [x] Run Application.
- [ ] Use alpine Java to run spring boot application.

[2020-11-01 07:55] kanwalnainsingh commented on #13
Used redis to store data on microservices which is easy to setup fast.

[2020-11-01 07:55] #13 closed

[2020-11-01 07:58] kanwalnainsingh opened #29 "Add embedded Redis for tese suit to validation data operations on db."
- [ ] Add test case for Embedded Redis to validate test case.

[2020-11-01 07:59] kanwalnainsingh opened #30 "Add code checkstyle in build."

[2020-11-01 09:01] kanwalnainsingh opened #31 "Add test coverage report in CI pipeline."

[2020-11-01 14:05] #12 closed

[2020-11-02 11:47] kanwalnainsingh opened #36 "Web UI to call organisation-service to perform organisation onboarding."

[2020-11-02 15:07] kanwalnainsingh commented on #28
PR merged.

[2020-11-02 15:07] #28 closed

[2020-11-03 13:20] Minal2425 opened #42 "OrganisationService - Refactor input in test cases"
refactoring json as string literal to a better way maybe a .json file in Test cases.
Eg - expectedResponse String literal needs refactoring in OrganisationControllerTest.java

[2020-11-04 17:50] #42 closed

[2020-11-10 15:04] kanwalnainsingh opened #49 "API to reserve booking for desk."
## Requirement:
UI will call below service when user select a site,floor and date for booking. At present this API exist but just save whatever request comes.

### Update API:
CODE_BASE: code_base/microservices/booking-service
API: /booking
Method Type: POST

API will call desk-service GET: /desk/{orgId}/{siteId}/{floorId} this will return all desk that is for the organisation List<Desk>.

Create

[2020-11-10 15:10] kanwalnainsingh opened #50 "API to upload desk plan and send a message to queue."
- [ ] Save desk plan csv file to persistent storage.
- [ ] Send a message to queue with file path, org, floor and site id.

[2020-11-11 13:39] #29 closed

[2020-11-11 13:39] kanwalnainsingh commented on #29
We might move out of redis so removing this task

[2020-11-13 18:28] kanwalnainsingh opened #55 "Test case coverage report using Jacoco"

[2020-11-13 18:29] kanwalnainsingh commented on #55
Added on all microservices.

[2020-11-13 18:29] #55 closed

[2020-11-16 13:04] #31 closed

[2020-11-16 13:04] #22 closed

[2020-11-16 13:05] kanwalnainsingh commented on #22
closing issue need small issues.

[2020-11-16 13:05] #21 closed

[2020-11-16 13:05] kanwalnainsingh commented on #21
added code guidelines

[2020-11-16 13:05] kanwalnainsingh commented on #16
Moving this for later release.

[2020-11-16 13:05] #16 closed

[2020-11-16 13:06] #15 closed

[2020-11-16 13:06] #14 closed

[2020-11-16 13:29] kanwalnainsingh opened #60 "API to check if desk is available for booking on a particular date"
## NEW API:
/api/desk-service/availability
POST

requestBody:
{
"orgId": "string"
"floorId":"string"
"requestDate": "string" dd/MM/yyyy

}

Action: api will call booking-service- get all the booking for particular data on orgId and floorId. API will return a desk which is not already booked in booking service.

[2020-11-16 15:17] ryagnaguru opened #61 "API to fetch booking details from employee service."
**Requirement:**

Below API is to fetch booking details associated with an employee. An API call is made from employee service to booking service, passing booking id as parameter.

**API:**

CODE_BASE: code_base/microservices/employee-service
API: /employee/bookingdetail/1
Method Type: GET

Note: You might need to create data in micro-service via swagger api. Use below url
http://localhost:{port}/

[2020-11-16 16:11] kanwalnainsingh opened #62 "API to get all desk for particular organisation, site and floor."
# Requirement

## New API
Microservice: desk-service
Code_Base: https://github.com/kanwalnainsingh/OpenDesk/tree/main/code_base/micro-services/desk-service
Method Type: GET
Path: /desk/{orgId}/{siteId}/{floorId}

### What will API do?

API will fetch list of all the desk for particular organisation, site and floor.

### Acceptance criteria.

1. Given  {orgId} {siteId} {floorId} has corresponding d

[2020-11-16 16:20] kanwalnainsingh opened #63 "GIT Actions CI action for front end."
## Requirement:

With every pull request raised, CI should run that will build the front end project, execute test suite.

### Acceptance Criteria

- Give all the case cases pass with the new changes build should pass and move to next step.
- Given there are no error at the build step build should pass and create deployable artifact.

[2020-11-16 17:16] kanwalnainsingh opened #64 "UI UX Design for Open Desk Start"

[2020-11-16 17:20] procupid commented on #64
Added Figma file containing designs for both mobile and web versions.
https://github.com/procupid/OpenDesk.git

[2020-11-16 17:23] procupid commented on #64
Figma File: https://www.figma.com/file/s9ZDbblJ9wnfisoOZI7kTj/bookopendesk?node-id=101%3A689
Mobile version prototype: https://www.figma.com/proto/s9ZDbblJ9wnfisoOZI7kTj/bookopendesk?node-id=10%3A46&scaling=min-zoom
Desktop version prototype:  https://www.figma.com/proto/s9ZDbblJ9wnfisoOZI7kTj/bookopendesk?node-id=206%3A2729&scaling=scale-down

[2020-11-16 17:30] #64 closed

[2020-11-17 16:28] kanwalnainsingh opened #70 "Swagger URL not working after deployment on K8s"
**Describe the bug**
Swagger URL not working after deployment on K8s

https://opendesk-kanwalnainsingh.cloud.okteto.net/api/desk-service/swagger-ui.html

This issue is reproducible for all micro-services.

Works fine on dev env.

http://localhost:8082/api/desk-service/swagger-ui.html

[2020-11-17 17:13] SaswataRakshit opened #71 "Frontend page of Onboarding Organization page"
As a part of this story, UI of Organization onboarding will be done.
![onboarding](https://user-images.githubusercontent.com/46588264/99423213-58307980-2926-11eb-86a8-9ae3059e9c41.jpg)

[2020-11-17 17:30] kanwalnainsingh commented on #71
Please follow below structure on design for react components.
<Site>
   <SiteDetails>
      <Location />
      <SiteName />
   </SiteDetails>
   <Floor>
      <FloorDetails>
         <FloorName />
         <DeskDetails>
            <DeskCount />
            <BusyDesk />
            <DeskPlan />
         </DeskDetails>
      </FloorDetails>
   </Floor>
</Site>

[2020-11-19 10:29] kanwalnainsingh opened #73 "API: Organisation Site Registration."
## Requirement
Update is required in existing API as per new design. Remove data fields that are not part of below contract.

### Existing API
Method Type: POST
URL: organisation-service/organisation
Request Body:

[code]

[2020-11-19 16:38] ryagnaguru opened #74 "Create an API in booking service to fetch booking details based on the employee id."
Requirement:

This API in booking service that takes employee id as parameter is used to fetch all the booking details associated to the id.

API:

CODE_BASE: code_base/microservices/booking-service
API: /booking/employee/{empId}
Method Type: GET

Note: You might need to create data in micro-service via swagger api. Use below url
http://localhost:{port}/api/bookings-service/swagger-ui.html

[2020-11-20 06:47] kanwalnainsingh opened #75 "OpenDesk Home Page."
https://www.figma.com/proto/AYjVNh02Mhsi5j0P7VhTDv/bookopendesk?node-id=206%3A2729&scaling=min-zoom

[2020-11-20 09:06] #70 closed

[2020-11-20 10:14] chimeziesolomon opened #76 "Organisation Frontend Signup and Login pages"
will be glad to get directives on this
![opendesk](https://user-images.githubusercontent.com/39730078/99787504-1e2ac780-2b20-11eb-8816-43c677defd78.PNG)
![opendesk1](https://user-images.githubusercontent.com/39730078/99787531-271b9900-2b20-11eb-9949-c0cc214b9277.PNG)

@kanwalnainsingh Assigned to @chimeziesolomon

[2020-11-20 11:02] procupid opened #78 "Work-In-Progress Page (Responsive)"
For the time period, our service is not ready to launch, we would create a work-in-progress page.

What would it contain?

- Notice for work-in-progress
- About the project
- Invitation for people to contribute

The design should be responsive.

I have created designs for the above pages

![Landing Page (3)](https://user-images.githubusercontent.com/67896359/99792758-90fe6780-2b4d-11eb-9a56-effb47

[2020-11-20 11:18] pebriancharliady opened #80 "Surface Book Log In Page"
Working on
![Surface Book - 21](https://user-images.githubusercontent.com/54937272/99794496-d6766100-2b5c-11eb-9cac-a2337d6ef9f8.png)

[2020-11-20 11:34] pebriancharliady commented on #78
Sorry i'm really new to open sourcing, how can i assign to this issue ?

[2020-11-20 11:35] kanwalnainsingh commented on #78
@pebriancharliady I will assign this you.

[2020-11-20 11:36] kanwalnainsingh commented on #78
@pebriancharliady issue assigned, let us know if you need help

[2020-11-20 11:38] pebriancharliady commented on #78
@kanwalnainsingh ok thank you very much

[2020-11-20 11:39] kanwalnainsingh commented on #80
Issue for login page already created https://github.com/kanwalnainsingh/OpenDesk/issues/76

[2020-11-20 11:40] #80 closed

[2020-11-20 13:11] kanwalnainsingh commented on #74
PR merged.

[2020-11-20 13:11] #74 closed

[2020-11-20 23:05] Ahmed-Radi commented on #76
Can I take the Register page

[2020-11-21 07:00] pebriancharliady commented on #75
Is someone currently working on this issue?

[2020-11-21 07:26] kanwalnainsingh commented on #76
@Ahmed-Radi will be adding more issues today will tag or ping you.

[2020-11-21 17:39] #78 closed

[2020-11-21 17:59] procupid opened #85 "Landing Page and How-It-Works Pages"
This Issue is to develop the designs for the following pages.

### - Landing Page

![Landing Page (4)](https://user-images.githubusercontent.com/67896359/99883747-68f72d00-2c4f-11eb-9882-60b26c36b854.png)

Desktop Verson ^^^

![Landing Page (5)](https://user-images.githubusercontent.com/67896359/99883745-65fc3c80-2c4f-11eb-9c00-e5590385b45f.png)

Mobile Version ^^

**I HAVE PROVIDED PREVIEW JUST F

[2020-11-22 04:40] pebriancharliady commented on #85
working on this atm

[2020-11-22 06:23] kanwalnainsingh opened #87 "Create a persistent storage in kubernetes cluster."
Storage created above will be used to store desk setup file while setting up a site.

[2020-11-23 11:29] procupid opened #89 "Employee Home-screen and Booking Screens"
![Landing Page (6)](https://user-images.githubusercontent.com/67896359/99953183-e84b4480-2da6-11eb-8df4-caf09659bb90.png)

^^^^Homescreen Desktop Version Preview (for complete design check out the Figma file)

This Issue is for developing the following screens related to the employee section:

**- Homescreen**
**- Search screen**
**- Booking screen (6 Steps)**
**- Menu**
**- Different Views(Calend

[2020-11-23 12:06] procupid opened #90 "Work-In-Progress Screen Development Issues"
#78 Criticism
This is to highlight the problems with Work-in-progress Screen Development.

![Frame 1](https://user-images.githubusercontent.com/67896359/99959662-6dd3f200-2db1-11eb-95fe-b4e33ccd6c25.png)

This page is active rn, you can see it at [bookopendesk.com](http://bookopendesk.com/wip)

### [Figma File](https://www.figma.com/file/ZokvwLKeLxgqGnidqQ2NAW/?node-id=0%3A1)
(Contains both design

[2020-11-23 12:44] procupid opened #91 "Employee Home Screen Development"
The designs are ready and contain both desktop and mobile versions as all screens should be responsive.

This issue is for the development of following screens:

- Homescreen
- Menu
- Calendar view
- Search
- List View

Here is the preview for the home screen:(for the rest of the design please check out the figma file)

**DESKTOP VERSION**

![Landing Page (6)](https://user-images.githubusercontent

[2020-11-23 13:06] PuneetSivananda commented on #91
Can take up this issue, thanks

[2020-11-23 13:11] kanwalnainsingh commented on #91
@PuneetSivananda I have assigned this issue to you.

[2020-11-23 13:54] procupid commented on #91
### [Figma File](https://www.figma.com/file/s9ZDbblJ9wnfisoOZI7kTj/?node-id=683%3A548)

[Mobile prototype](https://www.figma.com/proto/s9ZDbblJ9wnfisoOZI7kTj/bookopendesk?node-id=683%3A549&scaling=min-zoom)

[Desktop prototype](https://www.figma.com/proto/s9ZDbblJ9wnfisoOZI7kTj/bookopendesk?node-id=769%3A3550&scaling=min-zoom)

[2020-11-23 17:28] kanwalnainsingh opened #92 "POC: Spring Cloud Kubernetes for communication between services."

[2020-11-24 06:42] kanwalnainsingh commented on #92
POC completed integrated booking service health check from organisation service..

[2020-11-24 10:18] chetanchilhate commented on #62
@kanwalnainsingh I would like to work on this. I can see endpoints are there only it always returning 200 status always with or without the data

[2020-11-24 10:19] kanwalnainsingh commented on #62
@chetanchilhate feel free to fix the behaviour

[2020-11-24 10:50] chetanchilhate commented on #62
@kanwalnainsingh colud assign the issue to me or its not nesssasary

[2020-11-24 11:08] kanwalnainsingh commented on #62
@chetanchilhate issue assigned. feel free to ask question here or on slack https://join.slack.com/t/opendeskworkspace/shared_invite/zt-jf6wxjc3-aj5SF9S6t~VSJiRswQwXbw

[2020-11-24 11:09] #75 closed

[2020-11-24 12:30] kanwalnainsingh opened #94 "Employee Booking Screen"
### [Figma File]
https://www.figma.com/file/s9ZDbblJ9wnfisoOZI7kTj/bookopendesk?node-id=683%3A548
The designs are ready and contain both desktop and mobile versions as all screens should be responsive.

This issue is for the development of following screens:

- Booking Screen
- Menu
### [Figma File] UX design for images style details.
https://www.figma.com/file/s9ZDbblJ9wnfisoOZI7kTj/bookopendesk?

[2020-11-25 12:29] Elvis020 commented on #94
Working on it

[2020-11-27 02:10] devjuliet commented on #73
Hello! I would like to work on this issue if that is okay :)

[2020-11-27 05:08] kanwalnainsingh commented on #73
Hi @devjuliet, Welcome 🙏
We there is some progress already already made on this, join slack, setup code base. Will assign something fresh. https://www.bookopendesk.com

[2020-11-27 05:14] devjuliet commented on #73
Great!! Joining now

[2020-11-27 05:41] #73 closed

[2020-11-27 05:42] #92 closed

[2020-11-27 05:44] #62 closed

[2020-11-27 05:44] #50 closed

[2020-11-27 05:45] #49 closed

[2020-11-29 05:53] JuiceyDuecy commented on #87
I can take care of this.

[2020-11-29 06:17] kanwalnainsingh commented on #87
@JuiceyDuecy feel free to pick this one.

[2020-11-29 06:18] kanwalnainsingh opened #103 "Kubernetes: Externalise all properties using spring cloud kubernetes and config map."

[2020-11-29 09:43] kanwalnainsingh opened #104 "Kubernetes : RabbitMQ instance which will connect with other services."

[2020-11-30 15:05] procupid commented on #76
There have been some color updates to the design

### [Figma File](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A26503)

![Verify E-mail Address](https://user-images.githubusercontent.com/67896359/100625965-32a26780-334b-11eb-8784-14a9c8aeb679.png)
![Organization Sign Up](https://user-images.githubusercontent.com/67896359/100625973-359d5800-334b-11eb-8ca5-123f17c83f32.

[2020-11-30 15:08] #36 closed

[2020-11-30 15:09] kanwalnainsingh commented on #76
@chimeziesolomon are you still working on this?

[2020-11-30 15:10] kanwalnainsingh commented on #76
@Ahmed-Radi are you ready to pick an issue?

[2020-11-30 15:11] procupid commented on #85
There have been some updates to the design

Please refer to this **[Figma File](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=1%3A5980)**

### Some Previews

![How it works 10](https://user-images.githubusercontent.com/67896359/100626728-2d91e800-334c-11eb-810d-694d69f81cc6.png)
![About Us](https://user-images.githubusercontent.com/67896359/100626742-308cd880-334c-11eb-9a8

[2020-11-30 15:16] procupid commented on #90
The New added icon of youtube and telegram lack shadows

[2020-11-30 15:18] procupid commented on #91
Please refer to the **[new Figma file](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=2%3A3566)** from now on, though there have not been any design changes regarding this section

[2020-11-30 15:20] procupid commented on #94
There have been some text changes in the design.

please refer to the **[NEW FIGMA FILE ](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=2%3A3566)**

[2020-11-30 16:09] kanwalnainsingh opened #106 "POC: Site Added event to queue that listened by desk service and print in logs"
- Install rabbitmq locally.
- Sender in organisation service. after site is saved send site save request that came from ui to rabbit mq queue.
sample to refer.
https://www.rabbitmq.com/tutorials/tutorial-three-spring-amqp.html

[2020-11-30 16:13] kanwalnainsingh commented on #94
@procupid can you update the screenshot above one I attached are too big, also add desktop screenshot

[2020-11-30 16:39] procupid opened #107 "Employee Menu and Search screen"
The Designs are ready for both screens. Both the mobile version and Desktop version designs are attached as the screens should be responsive.

### **[FIGMA FILE](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A22208)**

### MENU SCREENS

MOBILE VERSION >
![Employee page](https://user-images.githubusercontent.com/67896359/100636940-47392c80-3358-11eb-9deb-3ac2937eb159.png

[2020-11-30 16:43] procupid opened #108 "Employee List View Screen Development"
The Design is ready and available in both mobile and desktop versions so that screens are responsive.

### **[FIGMA FILE](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A22567)**

DESKTOP VERSION
![Landing Page](https://user-images.githubusercontent.com/67896359/100637419-dc3c2580-3358-11eb-94a9-ef39c3e852a8.png)

MOBILE VERSION
![Employee page](https://user-images.githu

[2020-11-30 20:52] Elvis020 commented on #94
Yhs I think he screenshots are too big I always have to zoom out to scroll faster, pls reduce the size if possible @procupid

[2020-12-01 02:27] devjuliet commented on #60
Hi! Can you help me with some specifications to start with this issue. It is going to be another endpoint? What would be the payload like? Thanks! @kanwalnainsingh

[2020-12-01 04:09] kanwalnainsingh commented on #60
@devjuliet I have added some details, in order to check how api is called from one service to another refer organisation-service where booking-service /health api is called. refer swagger here https://www.bookopendesk.com/api/organisation-service/swagger-ui/index.html?configUrl=/api/organisation-service/v3/api-docs/swagger-config#/organisation-controller/geBookingServiceHealth

[2020-12-01 05:46] OmarMorales71 commented on #106
@kanwalnainsingh Hello Can I work on this issue? To be more clear, I have to send a message (to a queue in RabbitMQ) after on event(what kind of events)?

[2020-12-01 05:49] kanwalnainsingh commented on #106
@OmarMorales71 you can work on this. If you go to organisation-service there will be an api to register an organisation.
https://www.bookopendesk.com/api/organisation-service/swagger-ui/index.html?configUrl=/api/organisation-service/v3/api-docs/swagger-config#/organisation-controller/createOrganisation
Current: It only saves to database
Now: We need to send same request to queue that will be liste

[2020-12-01 11:54] Ahmed-Radi commented on #76
I am very sorry sir. I got a midterm exam so that I didn't see this message
are this issue still or another one taken this task

[2020-12-01 12:10] kanwalnainsingh commented on #76
@Ahmed-Radi can you join slack find link https://www.bookopendesk.com

[2020-12-01 18:20] CarlosFabianG commented on #108
Hello, can I work on this one?

[2020-12-01 18:36] kanwalnainsingh commented on #108
@CarlosFabianG yes you can pick this, let's us know if you need any help. Join slack for more details https://www.bookopendesk.com/

[2020-12-01 20:45] alebricio commented on #107
Hello! This looks great. I'll contact you on Slack for more details if it's okay!

[2020-12-01 22:45] JuiceyDuecy commented on #90
If this isn't assigned to anyone, I'll take care of this.

[2020-12-02 07:49] kanwalnainsingh commented on #90
JuiceyDuecy yes you can pick this .

[2020-12-02 18:32] alebricio commented on #107
Working on this! 👍

[2020-12-05 00:02] devjuliet commented on #60
#116 PR is now available @kanwalnainsingh ! If it needs changes, I am open to feedback etc! 😄

[2020-12-05 15:48] procupid opened #117 "Organization Site list page"
The designs are prepared and available in the **[FIGMA FILE](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A21138)**

### DESKTOP VERSION
![Landing Page](https://user-images.githubusercontent.com/67896359/101247299-dc646880-373e-11eb-9058-5024ed5f8e17.png)

### MOBILE VERSION
![Employee page](https://user-images.githubusercontent.com/67896359/101247303-df5f5900-373e-11e

[2020-12-05 16:02] procupid opened #118 "Organization Employees Page"
### **[FIGMA FILE](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=3%3A1530)** (contains the design)

### DESKTOP VERSION
![Landing Page](https://user-images.githubusercontent.com/67896359/101247732-20586d00-3741-11eb-8a07-9f70db20ab59.png)

### MOBILE VERSION
![Employee page](https://user-images.githubusercontent.com/67896359/101247735-22223080-3741-11eb-9502-b61cb8e3ce77.p

[2020-12-05 16:09] procupid opened #119 "Site Page (Organization)"
### **[FIGMA FILE](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=3%3A1069)**
(Contains Design)

### DESKTOP VERSION
![Landing Page](https://user-images.githubusercontent.com/67896359/101247921-3a467f80-3742-11eb-9766-f63541ffef55.png)

### MOBILE VERSION
![Employee page](https://user-images.githubusercontent.com/67896359/101247922-3d417000-3742-11eb-98ea-82b99160b271.png)

[2020-12-05 19:58] procupid opened #122 "Organization Account and search screen"
### **[FIGMA FILE](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A21672)**
(contains design)

### ACCOUNT SCREEN

Desktop Version:
![Landing Page](https://user-images.githubusercontent.com/67896359/101262071-d6cc4a00-3761-11eb-8b15-6c17e37ba27b.png)

Mobile Version:
![Employee page](https://user-images.githubusercontent.com/67896359/101262074-da5fd100-3761-11eb-88cc-04d

[2020-12-05 20:05] procupid opened #123 "Add Site screen"
### **[FIGMA FILE](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=3%3A1816)**
(containing the design)

### DESKTOP VERSION
![Landing Page](https://user-images.githubusercontent.com/67896359/101262251-2d865380-3763-11eb-9c98-4d10d3823855.png)

### MOBILE VERSION
![Employee page](https://user-images.githubusercontent.com/67896359/101262253-30814400-3763-11eb-94e7-8b2f7d72d987

[2020-12-06 06:39] JuiceyDuecy commented on #90
@procupid is this issue still open? Looks like all the issues have been resolved.

[2020-12-06 06:42] procupid commented on #90
@JuiceyDuecy yea the issues have been resolved, you can pick up any other issue, I added a few yesterday.

[2020-12-06 07:18] procupid commented on #90
@JuiceyDuecy There are still a few minor issues. Please take a look at the original design file to better understand the ideal.

![Frame 2](https://user-images.githubusercontent.com/67896359/101274076-06f70580-37c1-11eb-8314-bff88a62f5bf.png)

### **[FIGMA FILE](https://www.figma.com/file/ZokvwLKeLxgqGnidqQ2NAW/Work-in-Progress-Opendesk?node-id=1%3A2)**

[2020-12-07 01:26] JuiceyDuecy commented on #90
Ok, I'll take a look. Thanks for the clarification.

[2020-12-08 17:18] #60 closed

[2020-12-13 19:48] goanto commented on #104
@kanwalnainsingh can you specify the deliverables for this issue?

[2020-12-15 00:09] OmarMorales71 commented on #106
@kanwalnainsingh Hello, I did not have time to work on this issue, I apologize. I let it free for any other developer.

[2020-12-15 00:15] mayralgr commented on #106
Hi @kanwalnainsingh I can work on this with the info on https://github.com/kanwalnainsingh/OpenDesk/issues/106#issuecomment-736238084 . I'll raise a draft for feedback, is it okay? 😄
Thanks!

[2020-12-15 01:13] mayralgr commented on #118
HI @kanwalnainsingh @procupid I would like to work on this issue, do I need more information in addition to the screens?
Thank you!

[2020-12-15 03:00] kanwalnainsingh commented on #106
@mayralgr yes you can pick this one.

[2020-12-15 03:11] kanwalnainsingh commented on #118
@mayralgr this should be enough refer them existing code and figma for more details on design. Let me know if you need anything else

[2020-12-16 00:23] devjuliet commented on #122
Hi! @kanwalnainsingh I would like to work on this issue if that is okay. Do I need some other specifications to start working?

[2020-12-16 00:31] JohanDelValleV commented on #117
Hi there! This looks awesome. I would like to work on this if nobody is working on it

[2020-12-16 03:19] kanwalnainsingh commented on #117
@JohanDelValleV you can work on this, I will assign.

[2020-12-16 04:34] alebricio commented on #123
Looks great! I'd like to work on this if it's okay.

[2020-12-16 05:17] kanwalnainsingh commented on #117
@JohanDelValleV  I have assigned the PR. Ping me on slack if you need any help

[2020-12-16 05:42] kanwalnainsingh commented on #107
@alebricio changes looks perfect. I have merged your PR

[2020-12-16 05:42] #107 closed

[2020-12-16 05:42] kanwalnainsingh commented on #107
Changes merged.

[2020-12-16 07:02] kanwalnainsingh commented on #122
@devjuliet yes feel free to pick this one, I will assign.

[2020-12-17 08:13] procupid opened #129 "Employee search and menu screen issues"
There are some minor inconsistencies with development and design. This issue is to highlight those.

### Menu Screen

![Frame 1820](https://user-images.githubusercontent.com/67896359/102460876-9deb7980-406d-11eb-96ba-bb4d6361cea7.png)

### Search Screen

As you can see the search screen doesn't really match with the design of the desktop version.

![Frame 1821](https://user-images.githubuserconten

[2020-12-17 12:15] alebricio commented on #94
Working on this! 👍

[2020-12-17 12:54] #123 closed

[2020-12-18 06:15] UrielMaD commented on #129
Hello @procupid, I'd like to work on this issue, is there anything else that I need to know?

[2020-12-18 07:56] kanwalnainsingh commented on #129
You can work on this I will assign

[2020-12-18 13:50] procupid commented on #129
Hello @UrielMaD
Here is the **[Figma File containing the design. ](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=2%3A3566)**

[2020-12-19 07:17] kanwalnainsingh commented on #117
@JohanDelValleV changes looks fantastic, great going. @procupid  can you check as well  https://www.bookopendesk.com/sites/85a61bb4-7a63-474d-a02c-6b14c1259877

[2020-12-19 18:19] #106 closed

[2020-12-19 23:38] UrielMaD commented on #129
I've been through this issue and I'm wondering if there's any special configuration for fonts because I've tried to set font weight to different values, but apparently the only ones working are the classic, and bold

[2020-12-20 04:48] kanwalnainsingh commented on #129
@UrielMaD right now there no such configuration, if you want feel free to create an issue and add

[2020-12-20 07:17] kanwalnainsingh commented on #91
THis issue is ready to be picked.

[2020-12-20 12:30] Maruth51 commented on #91
@kanwalnainsingh i would like to work on this.

[2020-12-20 12:44] kanwalnainsingh commented on #91
@Maruth51 you can start working on this

[2020-12-20 17:01] mayralgr commented on #118
@kanwalnainsingh should we open the issue again until it is finished? 😊

[2020-12-20 18:57] kanwalnainsingh commented on #118
Sure, I have updated the issue. Feel free to create another issue for this. You can also IM on slack or join front end team WhatsApp group if you would like. https://chat.whatsapp.com/EdNOIXay2CcITZFOGwFD4t

[2020-12-20 19:31] mayralgr commented on #118
@kanwalnainsingh will do. I’ll open another pr with the rest. Can this issue be assigned ? 😊

[2020-12-20 22:16] UrielMaD commented on #129
@kanwalnainsingh Hello again, I just opened a new PR that should close this issue, although, there's a problem with font weights because it does not render all weights, I will create a new issue about this.

[2020-12-20 22:25] UrielMaD opened #137 "Font weights not rendering for listItemText in employee side menu"
**Describe the bug**
There's a problem with font weights where you try to set different values than 'Regular' or 'Bold', there are no more options working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the employee section
2. Click on the side menu
3. Open the element inspection
4. Place the element selector in any text of the size menu
5. Try to change font-weight on the styles
6. Se

[2020-12-21 06:07] #122 closed

[2020-12-22 05:58] #94 closed

[2020-12-23 01:42] marianayap commented on #90
@procupid Hello! Is this issue taken?

[2020-12-23 02:15] JuiceyDuecy commented on #90
@marianayap I am looking into it but having trouble with some of the UI portions. I can share my current modifications with you if you'd like to collaborate on this.

[2020-12-23 02:28] marianayap commented on #90
@JuiceyDuecy Sure! I can take a look and collaborate with you

[2020-12-23 16:03] kanwalnainsingh opened #141 "New Site UI calling backend to save a new site."
Below is the new UI for new site addition.
![image](https://user-images.githubusercontent.com/1909626/103015247-12d71b80-4566-11eb-9dcc-066d4ff099b6.png)
https://www.bookopendesk.com/newsite
Save button in above UI should be able to call organisation service, swagger linke below.
https://www.bookopendesk.com/api/organisation-service/swagger-ui/index.html?configUrl=/api/organisation-service/v3/api-

[2020-12-23 19:07] #118 closed

[2020-12-23 20:00] mayralgr commented on #119
I'll work on this one, I'll raise a pr with the page.

[2020-12-23 23:54] mayralgr commented on #137
Hi @UrielMaD  did you tried to directly pass fontWeight?

[2020-12-24 01:17] UrielMaD commented on #137
Hello @mayralgr I think that's a material ui issue or something like that

[2020-12-24 05:22] kanwalnainsingh opened #142 "Multiple Site addition support in place of adding replace organisation data each time"
## Current state
API for organisation service today only support replacement of complete organisations. It doesn't allow any api to add site to already existing organisation.

[2020-12-24 06:22] JuiceyDuecy commented on #90
@marianayap  sorry for the late reply. Let me know how you would like to collab. I've pushed my changes to my fork: https://github.com/JuiceyDuecy/OpenDesk . I am on the slack, under the same name, so feel free to ping me there :smile:

[2020-12-24 09:59] SudhirSharma20 commented on #142
I will be working on this...

[2020-12-24 19:55] alebricio commented on #141
Working on this! 👍

[2020-12-26 13:00] #141 closed

[2020-12-27 09:42] #119 closed

[2020-12-29 04:52] mayralgr opened #146 "Add a linter and"
**Is your feature request related to a problem? Please describe.**
There are several inconsistencies talking about code formatting. In both backend and front-end.

**Describe the solution you'd like**
Add a linter to the front-end part such as ESLint
Add formatting rules to the backend that could be use to format code such as the Eclipse code formatter plugin (for Eclipse or Intellij) and an xml p

[2021-01-04 16:24] marianayap commented on #90
@JuiceyDuecy Hello! It seems like this issue is out of my time scope. I'll be in contact if i can continue. For now, I won't be able to work on it. Thank you!

[2021-01-06 17:23] #71 closed

[2021-01-06 17:23] #87 closed

[2021-01-06 17:23] #85 closed

[2021-01-06 17:24] kanwalnainsingh commented on #76
This issue is to be picked.

[2021-01-06 17:32] kanwalnainsingh opened #147 "Organisation Landing Page to pull data from API"
## Current State
At present, when user continue as organization and land here https://www.bookopendesk.com/organisation/
Data rendered in screen for site and floors are hardcoded.
![image](https://user-images.githubusercontent.com/1909626/103800700-b817e680-5072-11eb-8142-fa3d7c3b82c6.png)

## Requirement
Change current hardcoding of sites and floor details.
In order to achieve this UI will call a

[2021-01-06 17:39] kanwalnainsingh opened #148 "API to fetch all sites and floor details for an organisation."
## API EndPoint:
/organisation/{orgId}/sites

This API will fetch all the sites for {orgId}

## Response:

{
  "orgId": "string",
  "id": "string",
  "name": "string",
  "location": "string",
  "floors": [
    {
      "floorId": "string",
      "name": "string",
      "openDesk": "string",
      "reservedDesk": "string"
    }
  ]
}

[2021-01-08 18:24] rajudevolla commented on #147
Hi @kanwalnainsingh  I would like to work on this issue. Please assign it to me.

[2021-01-08 18:40] kanwalnainsingh commented on #147
@rajudevolla you can start this one, I will assign

[2021-01-09 04:48] rajudevolla commented on #147
@kanwalnainsingh , current information being shown as mutiles sites with each site having no of Floors, total desks, opendesk and location. But the API response having multiple floors for orgID.  we just need to change hard coding to binding from API right? In this i think API response should as below.

{
"orgId": "string",
"id": "string",
"name": "string",

"sites": [
{
"siteId": "string",
"name"

[2021-01-09 04:52] kanwalnainsingh commented on #147
@rajudevolla you will call organisation service which will below response.

[
  {
    "orgId": "string",
    "companyName": "string",
    "city": "string",
    "headQuarters": "string",
    "sites": [
      {
        "orgId": "string",
        "id": "string",
        "name": "string",
        "location": "string",
        "floors": [
          {
            "floorId": "string",
            "name":

[2021-01-10 08:27] procupid opened #149 "Organization SIte screen Issues"
I have reviewed the Site screen from the organization section and here are the things that need to be fixed. Please check out the **[Figma file](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=3%3A1069)** and prototype([Mobile](https://www.figma.com/proto/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A11228&scaling=min-zoom), [Desktop](https://www.figma.com/proto/NihC7mPNWD

[2021-01-10 09:04] procupid opened #150 "Organization New Site Issues"
I have reviewed the New site screen and these are the things that need to be fixed. Please do check [Figma File](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A21757) for more details on the ideal changes.

![Frame 1904](https://user-images.githubusercontent.com/67896359/104118686-c30f9700-5350-11eb-8a51-de77553f62bf.png)

![Frame 1905](https://user-images.githubusercon

[2021-01-10 09:50] procupid opened #151 "Employee New booking Screen Issues"
I have reviewed the screen for new booking for employees and below are the things that need to be fixed. Please do check the **[Figma file](https://www.figma.com/file/NihC7mPNWDLTTfOyKpChhN/BookOpendesk?node-id=7%3A23319)** for the ideal design.

![Frame 1906](https://user-images.githubusercontent.com/67896359/104119698-37e5cf80-5357-11eb-9da5-53c1e31754dc.png)

If you have any questions, feel fre

[2021-01-17 11:49] netchon commented on #148
hi there, i would like to work on this.

[2021-01-21 10:09] kanwalnainsingh commented on #148
Yes you cna work on this and raise PR

[2022-03-13 00:05] jazzbanzai opened #153 "Domain is hacked/hijacked"
**Describe the bug**

Domain: https://www.bookopendesk.com/ Will redirect to spam/malicious websites.

**To Reproduce**
Browse to https://www.bookopendesk.com/

**Expected behavior**
Should go to normal website

**Screenshots**
![image](https://user-images.githubusercontent.com/66533013/158039307-1ea00c8d-773d-4b0c-9237-94493907ee5c.png)

[2022-06-20 22:45] Alfredoxrock opened #155 "Slack link on README.md file is dead"
![SlackDeadLink](https://user-images.githubusercontent.com/51101050/174685841-006c31b6-6246-443d-84ba-d733a1c61770.png)

[2022-08-17 12:35] thfrei commented on #153
Since the project website is "not available". Does the OpenDesk software and github repo is still valid.
Anyone running this software?
Do you guys know about how actively this project is developed or mainteined?
Thank you